/* Created by: Graeme Barbe
* Created on: April 26 2022
* This CSS file defines the style for index.php
*/

/* This centers the text in the MDL header */
.mdl-layout__header-row {
	display: flex;
	justify-content: center;
	align-items: center;
	color: rgb(1, 1, 1)
}

/* Colors */
html {
height: 100%;
}

body {
background-color: #08e1ae;
background-image: linear-gradient(315deg, #08e1ae 0%, #98de5b 74%);
}

p{
	color: #00008B;
}